body {
    font-family: Arial, sans-serif;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input,
select,
button {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    color: rgb(77, 5, 72);
}

.error {
    color: red;
    display: none;
}

#result {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    display: none;
}